<!--<app-product-list></app-product-list>-->
<div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus augue eget orci porta suscipit. Duis
    viverra interdum urna id condimentum. Aliquam auctor et orci non pretium. Praesent tempor, nisi nec placerat
    interdum, nisi magna fringilla tellus, vel elementum nulla lacus eget turpis. In hac habitasse platea dictumst. In
    sit amet tortor eget elit aliquet posuere. Nam nisl nunc, euismod ut semper id, sollicitudin sit amet tortor. Nunc
    semper et lacus vitae vulputate. Phasellus leo ligula, interdum vitae augue eu, fringilla gravida magna. Proin nisi
    dolor, rhoncus ultrices efficitur venenatis, rutrum at nunc. Aliquam eu euismod enim, at tincidunt tortor. Mauris
    eget consectetur sapien.
  </p>
  <p>
    Donec ornare sagittis elementum. Proin vitae posuere erat. Aliquam porttitor massa suscipit, malesuada ipsum
    vitae, congue risus. Nulla vitae tortor auctor, egestas sem in, pellentesque sapien. Proin in commodo dolor. Aliquam
    erat volutpat. Praesent pulvinar justo in consequat aliquam. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Fusce pretium maximus diam, quis mattis purus faucibus ac. Phasellus a justo a sem
    rhoncus lacinia. Sed euismod pellentesque nunc, ac volutpat odio consequat sed.
  </p>
  <p>
    Mauris ligula lacus, dictum et vestibulum at, cursus eget ligula. Proin sit amet euismod lectus. Aliquam ultricies
    bibendum hendrerit. Duis tempus a lectus egestas cursus. Maecenas feugiat mi orci. Donec nisl leo, dapibus sit amet
    fringilla at, ultrices a magna. Phasellus volutpat ante ante, ac facilisis arcu varius vitae. Mauris posuere est eu
    tincidunt venenatis. Phasellus convallis, dui sed pellentesque ultrices, lacus lectus molestie lorem, at scelerisque
    elit tellus et turpis.
  </p>
  <p>
    Cras vitae nulla nisi. Ut eu dignissim sem, vitae consequat nisl. Class aptent taciti sociosqu ad litora torquent
    per conubia nostra, per inceptos himenaeos. Sed tristique aliquet ex, at aliquam purus porttitor at. Maecenas porta
    orci a vulputate varius. Aenean et urna quis justo cursus ornare. Vivamus euismod ac velit eu fringilla. Maecenas
    condimentum ex at pretium ornare. Vestibulum mattis, dolor id hendrerit rutrum, enim quam gravida lacus, et gravida
    dui ligula vitae eros. Duis condimentum efficitur diam. Aenean sagittis sodales ipsum, ut faucibus ex lacinia ac.
    Pellentesque consectetur ac tellus sed commodo.
  </p>
</div>

<app-sneak-peek></app-sneak-peek>

