<table class="table" *ngIf="product != undefined">
  <tbody>
  <tr>
    <th>
      Naam:
    </th>
    <td>
      {{product.name}}
    </td>
  </tr>
  <tr>
    <th>
      Sinds:
    </th>
    <td>
      {{product.datePublished | date:'shortDate'}}
    </td>
  </tr>
  <tr>
    <th>
      Categorie:
    </th>
    <td>
      {{product.category | category}}
    </td>
  </tr>
  <tr>
    <th>
      Prijs:
    </th>
    <td>
      {{product.price | currency:'EUR'}}
    </td>
  </tr>
  <tr>
    <th>
      Omschrijving:
    </th>
    <td>
      {{product.description}}
    </td>
  </tr>
  </tbody>
</table>

<div *ngIf="product == undefined">
  Ohjee, dit product lijkt niet te bestaan.
</div>

<div class="row">
  <div class="col-1">
    <button type="button" class="btn btn-primary" (click)="back()">
      <i class="fas fa-angle-left"></i> Terug
    </button>
  </div>
  <div class="col-2" *ngIf="product != undefined && !product.shoppingCart">
    <button type="button" class="btn btn-success" (click)="addToShoppingCart(product)">
      Voeg toe <i class="fas fa-shopping-cart"></i>
    </button>
  </div>

  <div class="col" *ngIf="product != undefined && product.shoppingCart">
    <button type="button" class="btn btn-danger" (click)="deleteFromShoppingCart(product)">
      Verwijder <i class="fas fa-shopping-cart"></i>
    </button>
  </div>
</div>



