<div class="login-container">

  <h1>Welkom op de marktplaats</h1>
  <p>
    Om gebruik te kunnen maken van de marktplaats dien je een gebruikersaccount aan te maken of in te loggen.

  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus augue eget orci porta suscipit. Duis
    viverra interdum urna id condimentum. Aliquam auctor et orci non pretium. Praesent tempor, nisi nec placerat
    interdum, nisi magna fringilla tellus, vel elementum nulla lacus eget turpis. In hac habitasse platea dictumst. In
    sit amet tortor eget elit aliquet posuere. Nam nisl nunc, euismod ut semper id, sollicitudin sit amet tortor. Nunc
    semper et lacus vitae vulputate. Phasellus leo ligula, interdum vitae augue eu, fringilla gravida magna. Proin nisi
    dolor, rhoncus ultrices efficitur venenatis, rutrum at nunc. Aliquam eu euismod enim, at tincidunt tortor. Mauris
    eget consectetur sapien.
  </p>



  <h2>Log in</h2>
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <form (submit)="login()" novalidate #f="ngForm">
        <div>
          <label for="username">Gebruikersnaam:</label>
          <input type="text" id="username" name="username" [(ngModel)]="user.username" required>
        </div>
        <div>
          <label for="password">Wachtwoord:</label>
          <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
        </div>
        <div class="btn-div-center">
          <button class="btn btn-primary" [disabled]="f.invalid">Log in</button>
        </div>
      </form>
      <p>{{message$ | async}}</p>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
