.register-container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem 0 1rem;
}

.btn {
  margin-top: 1rem;
}

.voorwaarden-container {
  border: solid black 1px;
  border-radius: 5px;
  height: 10rem;
  overflow: auto;
}

#LegalRequired {
  width: 2rem;
}
