<div class=register-container>
  <div class=registrer-content>
    <H3> Nieuwe gebruiker</H3></div>


  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <form (submit)="addContact()" novalidate #f="ngForm">
        <div>
          <div class="col-sm">
            <label for="firstName">Voornaam:</label>
          </div>
          <div class="col-sm">
            <input type="text" id="firstName" name="firstName" pattern="[^<>;:].{1,200}" [(ngModel)]="newUser.firstName"  required>
          </div>
        </div>

        <div class="col-sm">
          <label for="surname">Achternaam:</label>
          <input type="text" id="surname" name="surname" pattern="[^<>;:].{1,80}" [(ngModel)]="newUser.lastName"  required>
        </div>

        <div class="col-sm">
          <label for="email">E-mail:</label>
          <input type="email" id="email" name="email" pattern="[a-z,A-Z]{0,}[@][a-z,A-Z]{0,}[.]{1}[a-z,A-Z]{0,}" [(ngModel)]="newUser.email" [email]="true"  required>
        </div>

        <div class="col-sm">
          <label for="delivery">Verzendmethode:</label>
        </div>
        <div class="col-sm">
          <select id="delivery" name="delivery" [(ngModel)]="newUser.delivery" required>
            <option *ngFor="let delivery of deliveryOptions" value="{{delivery}}">{{delivery | delivery}} </option>
          </select>
        </div>

        <ng-container *ngIf="afhalenSelected()">
          <div class="col-sm">
            <label for="adres">Straat:</label>
            <input type="adres" id="adres" name="adres" pattern="[^<>;:].{4,200}"[(ngModel)]="newUser.street" required>
          </div>

          <div class="col-sm">
            <label for="housenumber">Huisnummer:</label>
            <input type="housenumber" id="housenumber" name="housenumber"  pattern="\d{1,3}"[(ngModel)]="newUser.housenumber" required>
          </div>

          <div class="col-sm">
            <label for="postalcode">Postcode:</label>
            <input type="postalcode" id="postalcode" name="postalcode"pattern =";{0};{0}[mysql]{0}[droptable]{0};{0}\d{4}[a-z,A-Z]{2}" [(ngModel)]="newUser.postalcode" required>
          </div>

        </ng-container>

        <div class="col-sm">
          <label for="username">Gebruikersnaam:</label>
          <input type="text" id="username" name="username" minlength="6" [(ngModel)]="newUser.username" required>
        </div>

        <div class="col-sm">
          <label for="password">Wachtwoord:</label>
          <input type="password" id="password" name="password" minlength="6" [(ngModel)]="newUser.password" required>
        </div>

        <div class="col-md">
          <label for="LegalRequired">Akkoord met de <a href="/voorwaarden">voorwaarden</a></label>
          <input type="checkbox" id="LegalRequired" name ="LegalRequired" value="true" (input)="log()" [(ngModel)]="newUser.legalRequired" required>
        </div>
        <div class="btn-div-center">
          <button class="btn btn-primary" [disabled]="f.invalid">Registreer</button>
        </div>


      </form>
      <p>{{message$ | async}}</p>
    </div>

    <div class="col">
    </div>
  </div>

</div>
