<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>
      {{product.name}}
    </td>
    <td>
      {{product.category.toString() | category}}
    </td>
    <td>
      {{product.price | currency:'EUR'}}
    </td>
    <td>
      <div><i class="fas fa-info-circle" routerLink="/products/{{product.id}}"></i></div>
    </td>
    <td>
      <div><i class="fas fa-ban"></i></div>
    </td>
  </tr>
  <tr>
    <td></td>
    <th>Totaal:</th>
    <td>{{totalPrice | currency:'EUR'}}</td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-1">
    <button type="button" class="btn btn-primary" (click)="back()">
      <i class="fas fa-angle-left"></i> Terug
    </button>
  </div>
  <div class="col-2" *ngIf="products != undefined">
    <button type="button" class="btn btn-primary">
      Betalen <i class="fas fa-coins"></i>
    </button>
  </div>
</div>
