<nav class="navbar navbar-expand-md navbar-light mb-1">
  <div class="container-fluid">
    <div class="navbar-brand">VCM</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item dropdown" *ngIf="loggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="/products">Producten</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="/mijn-marktplaats">Mijn-Marktplaats</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="/shopping-cart">Winkelwagen</a>
        </li>
      </ul>
    </div>
    <div class="nav-item loginButton" *ngIf="loggedIn">
      <a class="nav-link" routerLinkActive="active" (click)="logout()">Log out</a>
    </div>
    <div class="user">{{loggedInMessage}}</div>
  </div>
</nav>


<div class="container">
  <div *ngIf="!loggedIn && loginOrRegister == 'login'">
    <app-login></app-login>
    <div class="btn-div-center">
      <button type="button" class="btn btn-primary" (click)="toggleRegistrationInlog()">Registreer</button>
    </div>
  </div>
  <div *ngIf="!loggedIn && loginOrRegister == 'register'">
    <app-user-registration></app-user-registration>
    <div class="btn-div-center">
      <button type="button" class="btn btn-primary" (click)="toggleRegistrationInlog()">Log in</button>
    </div>
  </div>
  <div *ngIf="loggedIn">
    <router-outlet></router-outlet>
  </div>
</div>


<div class=footer>

  (c) BD-IV 2021 Powered by M&A

</div>
