<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">VCM</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/">Home</a>
      <a *ngIf="loggedIn" class="nav-item nav-link" routerLink="/products">Producten</a>
      <a *ngIf="loggedIn" class="nav-item nav-link" routerLink="/mijn-marktplaats">Mijn-Marktplaats</a>
      <a *ngIf="loggedIn" class="nav-item nav-link" routerLink="/shopping-cart">Winkelwagen</a>
      <a *ngIf="loggedIn" class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </div>
  <div class="user">{{loggedInMessage}}</div>
</nav>

<div class="container">
  <div *ngIf="!loggedIn && loginOrRegister == 'login'">
    <app-login></app-login>
    <div class="btn-div-center">
      <button type="button" class="btn btn-primary" (click)="toggleRegistrationInlog()">Registreer</button>
    </div>
  </div>
  <div *ngIf="!loggedIn && loginOrRegister == 'register'">
    <app-user-registration></app-user-registration>
    <div class="btn-div-center">
      <button type="button" class="btn btn-primary" (click)="toggleRegistrationInlog()">Log in</button>
    </div>
  </div>
  <div *ngIf="loggedIn">
    <router-outlet></router-outlet>
  </div>
</div>


<div class=footer>

  (c) BD-IV 2021 Powered by M&A

</div>
