<div class="form-group mb-4" *ngIf="!mijnMarktplaats">
  <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search">
</div>

<table class="table" *ngIf="products | filter: searchText">
  <thead>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products | filter: searchText">
    <td>
      {{product.name}}
    </td>
    <td>
      {{product.category.toString() | category}}
    </td>
    <td>
      {{product.price | currency:'EUR'}}
    </td>
    <td>
      <div class="icon-btn" *ngIf="!mijnMarktplaats">
        <i class="fas fa-info-circle" routerLink="/products/{{product.id}}"></i>
      </div>
      <div class="icon-btn" *ngIf="mijnMarktplaats">
        <i class="fas fa-pen" routerLink="/products/{{product.id}}"></i>
      </div>
    </td>
    <td>
      <div *ngIf="!mijnMarktplaats">
        <button *ngIf="!product.shoppingCart" type="button" class="btn btn-success"
                (click)="addToShoppingCart(product)">
          Voeg toe <i class="fas fa-shopping-cart"></i>
        </button>
        <button *ngIf="product.shoppingCart && product.shoppingCart.id == loggedInUser.shoppingCart.id" type="button"
                class="btn btn-danger"
                (click)="deleteFromShoppingCart(product)">
          Verwijder <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
