.ProductPreview {
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #000;
  border-top-left-radius: 10px;

}

.ProductName {
  text-align: center;
  font-size: 1.5rem;
  height:5rem;
}

.ProductBody {
  margin-left: 1rem;
  margin-bottom: 0.1rem;
}

.ProductDescription {
  height: 10rem;
  padding-right: 0.5rem;

}
.BuyMeNow{
  margin-left: 25%;
}
